#cheshire-cat-chat-widget {

    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #F6F2EC;
    width: 400px;
    height: 600px;

    padding: 5px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

}


.ccat-message {

    padding: 5px;
    margin: 5px;
    margin-bottom: 8px;

    background-color: white;

}

#ccat-history {

    overflow-y: scroll;
    scroll-behavior: smooth;

}

#ccat-history::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

#ccat-history::-webkit-scrollbar-thumb {
    background: #BBB;
    border-radius: 3px;
    height: 10px;
}

#ccat-toolbar {

    display: flex;
    justify-content: space-between;
    padding: 5px;

}

#ccat-query {

    width: 100%;

}

#ccat-send-button {}

#ccat-credits {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

#ccat-credits img {
    width: 50%;
}




/* RESPONSIVITY */

@media only screen and (max-width: 600px) {

    body {
        margin: 0px;
    }

    #cheshire-cat-chat-widget {

        /* TODO: this is not right */
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;

        width: 100vw;
        height: 100vh;

        z-index: 1000;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-color: pink;

        padding: 5px;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;

    }

}